:host {
    display: block;
    max-width: 100%;
    background-color: var(--header-color);
    box-shadow: 0 0 10px black;
}

header {
    max-width: 1375px;
    margin: auto;
    padding: 20px;
}

.selected-route {
    background-color: var(--button-selectec-color);
    color: #fff;
    box-shadow: 0px 4px 10px rgba(255, 193, 7, 0.5);
    transition: all 0.3s ease-in-out;
}